{% extends "base.html" %}
{% load static %}

    {% block title %}Inicio | Direcci&oacute;n de atenci&oacute;n al consumidor{% endblock %}

	{% block menu %}
	{% include "menu/menu.html" %}
	{% endblock %}
	{% block hero %}
	{% include "content/hero.html" %}
	{% endblock %}
		</div>
	</header>
	<!-- /Section: intro -->


	<!--////////////////////////////////////Container-->
	{% block content %}
	<div id="page-content">
		
		<div class="box-content">
			<div class="container">
				<!-----------------Content-------------------->
				<article class="single-post">
					<div class="wrap-post"><!--Start Box-->
						<div class="entry-header text-center">
							<h1 class="entry-title">{{titulo_seccion}}</h1>
						</div>
						<p>	{% include "content/mensajes.html" %}</p>
						<div class="entry-content">
							<form action="" method="post"> {% csrf_token %}
								<ul>
									{{formulario.as_ul}}
									<div class="row">
										<button type="submit" id="form-submit" class="btn btn-skin btn-block" id="submit_btn">Buscar</button>
									</div>
								</ul>
							</form>														
						</div>
					</div>
				</article>
			</div>	
			
		</div>
		
	</div>
		
	{% endblock %}

	{% if tabla %}
<table class="tg">
    <thead>
      <tr>
        {% for dato in tabla.encabezado %}
        <th>{{dato}}</th>
        {% endfor %}
      </tr>
    </thead>
    <tbody>
      {% for fila in tabla.filas %}
      <tr>
        {% for dato in fila %}
        <td > {{dato}} </td>
        {% endfor %}
      </tr>
      {% endfor %}
    </tbody>
</table>
    
{% endif %}

