{% extends "base.html" %}
{% load static %}

    {% block title %}Inicio | Direcci&oacute;n de atenci&oacute;n al consumidor{% endblock %}

	{% block menu %}
	{% include "menu/menu.html" %}
	{% endblock %}
	{% block hero %}
	{% include "content/hero.html" %}
	{% include 'content/mensajes.html' %}
	{% endblock %}

		</div>
	</header>
	<!-- /Section: intro -->


	<!--////////////////////////////////////Container-->
	{% block content %}
	<section id="page-content" class="index-page">
	
		<!-- ////////////Content Box 01 -->
		<section class="box-content box-1">
			<div class="container">
				<div class="heading wow fadeInUp" data-wow-delay=".1s" data-wow-duration="1s">
					<h2>Our Services</h2>
					<hr class="line">
				</div>
				<div class="filter-container isotopeFilters">
					<ul class="list-inline filter">
						<li class="active"><button class="btn btn-isoFilter" data-filter="*">All </button></li>
						<li><button class="btn btn-isoFilter" data-filter=".illustrations">Illustrations</button></li>
						<li><button class="btn btn-isoFilter" data-filter=".photography">Photography</button></li>
						<li><button class="btn btn-isoFilter" data-filter=".websites">Websites</button></li>
						<li><button class="btn btn-isoFilter" data-filter=".art">Art</button></li>
					</ul>
				</div>
				<div class="isotopeContainer">
					<div class="col-lg-4 col-sm-4 col-md-6 isotopeSelector art">
						<div class="portfolio-box zoom-effect">
							<img src="{% static 'images/1-thumb.jpg' %}" class="img-responsive" alt="">
							<div class="portfolio-box-caption">
								<div class="portfolio-box-caption-content">
									<div class="project-name">
										Project Name
									</div>
									<div class="project-category">
										Category
									</div>
									<div class="project-social">
										<ul class="list-inline">
											<li><a href="/single/"><i class="fa fa-link"></i></a></li>
											<li><a src="{% static 'images/1.jpg' %}" data-lightbox="example-set" data-title="Click the right half of the image to move forward."><i class="fa fa-search"></i></a></li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-sm-4 col-md-6 isotopeSelector art">
						<div class="portfolio-box zoom-effect">
							<img src="{% static 'images/2-thumb.jpg' %}" class="img-responsive" alt="">
							<div class="portfolio-box-caption">
								<div class="portfolio-box-caption-content">
									<div class="project-name">
										Project Name
									</div>
									<div class="project-category">
										Category
									</div>
									<div class="project-social">
										<ul class="list-inline">
											<li><a href="/single/"><i class="fa fa-link"></i></a></li>
											<li><a src="{% static 'images/2.jpg' %}" data-lightbox="example-set" data-title="Click the right half of the image to move forward."><i class="fa fa-search"></i></a></li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-sm-4 col-md-6 isotopeSelector illustrations">
						<div class="portfolio-box zoom-effect">
							<img src="{% static 'images/3-thumb.jpg' %}" class="img-responsive" alt="">
							<div class="portfolio-box-caption">
								<div class="portfolio-box-caption-content">
									<div class="project-name">
										Project Name
									</div>
									<div class="project-category">
										Category
									</div>
									<div class="project-social">
										<ul class="list-inline">
											<li><a href="/single/"><i class="fa fa-link"></i></a></li>
											<li><a src="{% static 'images/3.jpg' %}" data-lightbox="example-set" data-title="Click the right half of the image to move forward."><i class="fa fa-search"></i></a></li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-sm-4 col-md-6 isotopeSelector photography">
						<div class="portfolio-box zoom-effect">
							<img src="{% static 'images/4-thumb.jpg' %}" class="img-responsive" alt="">
							<div class="portfolio-box-caption">
								<div class="portfolio-box-caption-content">
									<div class="project-name">
										Project Name
									</div>
									<div class="project-category">
										Category
									</div>
									<div class="project-social">
										<ul class="list-inline">
											<li><a href="/single/"><i class="fa fa-link"></i></a></li>
											<li><a src="{% static 'images/4.jpg' %}" data-lightbox="example-set" data-title="Click the right half of the image to move forward."><i class="fa fa-search"></i></a></li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-sm-4 col-md-6 isotopeSelector websites">
						<div class="portfolio-box zoom-effect">
							<img src="{% static 'images/5-thumb.jpg' %}" class="img-responsive" alt="">
							<div class="portfolio-box-caption">
								<div class="portfolio-box-caption-content">
									<div class="project-name">
										Project Name
									</div>
									<div class="project-category">
										Category
									</div>
									<div class="project-social">
										<ul class="list-inline">
											<li><a href="/single/"><i class="fa fa-link"></i></a></li>
											<li><a src="{% static 'images/5.jpg' %}" data-lightbox="example-set" data-title="Click the right half of the image to move forward."><i class="fa fa-search"></i></a></li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-sm-4 col-md-6 isotopeSelector websites">
						<div class="portfolio-box zoom-effect">
							<img src="{% static 'images/6-thumb.jpg' %}" class="img-responsive" alt="">
							<div class="portfolio-box-caption">
								<div class="portfolio-box-caption-content">
									<div class="project-name">
										Project Name
									</div>
									<div class="project-category">
										Category
									</div>
									<div class="project-social">
										<ul class="list-inline">
											<li><a href="/single/"><i class="fa fa-link"></i></a></li>
											<li><a src="{% static 'images/6.jpg' %}" data-lightbox="example-set" data-title="Click the right half of the image to move forward."><i class="fa fa-search"></i></a></li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-sm-4 col-md-6 isotopeSelector illustrations">
						<div class="portfolio-box zoom-effect">
							<img src="{% static 'images/7-thumb.jpg' %}" class="img-responsive" alt="">
							<div class="portfolio-box-caption">
								<div class="portfolio-box-caption-content">
									<div class="project-name">
										Project Name
									</div>
									<div class="project-category">
										Category
									</div>
									<div class="project-social">
										<ul class="list-inline">
											<li><a href="/single/"><i class="fa fa-link"></i></a></li>
											<li><a src="{% static 'images/7.jpg' %}" data-lightbox="example-set" data-title="Click the right half of the image to move forward."><i class="fa fa-search"></i></a></li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="text-center"><button class="btn btn-skin" id="isotopeShowMore" >Show More</button></div>
			</div>
		</section>
		
		<!-- ////////////Content Box 02 -->
		<section class="box-content box-2 box-style-1">
			<div class="container">
				<div class="heading wow fadeInUp" data-wow-delay=".1s" data-wow-duration="1s">
					<h2>Our Story</h2>
					<hr class="line">
					
				</div>
				<div class="content">
					<div class="row">
						<div class="col-sm-8 col-sm-offset-2">
							<p>Suspendisse porttitor sapien ac lectus euismod imperdiet. Curabitur nec nibh at massa pellentesque accumsan eu id nibh. Donec accumsan ut mi et tincidunt. Aliquam eget metus nec leo tempor bibendum. Phasellus tincidunt lobortis metus. Duis euismod lorem turpis at diam.</p>
							<p>Lectus euismod imperdiet. Curabitur nec nibh at massa pellentesque accumsan eu id nibh. Donec accumsan ut mi et tincidunt. Aliquam eget metus nec leo tempor bibendum.</p>
						</div>
					</div>
				</div>
			</div>
		</section>
		
		<!-- ////////////Content Box 03 -->
		<section class="box-content box-3 box-style-2">
			<div class="container">
				<div class="content">
					<div class="row">
						<div class="col-md-6 col-sm-6 wow fadeInLeft" data-wow-delay=".1.15s" data-wow-duration="1.3s">
							<img src="{% static 'images/11.jpg' %}" alt="">
						</div>
						<div class="col-md-4 col-sm-6 wow fadeInRight" data-wow-delay=".1s" data-wow-duration="1s">
							<a href="/single/" class="btn btn-skin">Read The Blog</a>
							<img src="{% static 'images/9.jpg' %}" alt="" class="hidden-xs" style="margin: 0 0 0 -100px;">
						</div>
					</div>
				</div>
			</div>
		</section>
		
		<!-- ////////////Content Box 06 -->
		<section class="box-content box-6">
			<div class="container">
				<div class="heading wow fadeInUp" data-wow-delay=".1s" data-wow-duration="1s">
					<h2>Leave Us A Message</h2>
					<hr class="line">
				</div>
				<div class="content">
					<div class="col-sm-10 col-sm-offset-1">
						<form id="contact_form" class="wow fadeInUp" data-wow-delay=".1s" data-wow-duration="1s">
							<div class="row">
								<!-- Name -->
								<div class="col-md-4">
									<div class="form-group">
										<input type="text" name="name" id="name" class="form-control" placeholder="Enter your name" required>
									</div>
								</div>
								<!-- Email -->
								<div class="col-md-4">
									<div class="form-group">
										<input type="email" name="email" id="email" class="form-control" placeholder="Enter your email" required>
									</div>
								</div>
								<!-- Subject -->
								<div class="col-md-4">
									<div class="form-group">
										<input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required />
									</div>
								</div>
							</div>
							<!-- Message -->
							<div class="row">
								<div class="col-md-12">
									<div class="form-group">
										<textarea style="height: 200px" class="form-control" name="message" id="message" rows="5" placeholder="Your Message" required></textarea>
									</div>
									<button type="submit" id="form-submit" class="btn btn-skin btn-block" id="submit_btn">Submit</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</section>
		
	</section>
	{% endblock %}
