{% extends "base.html" %}
{% load static %}

    {% block title %}Inicio | Direcci&oacute;n de atenci&oacute;n al consumidor{% endblock %}

	{% block menu %}
	{% include "menu/menu.html" %}
	{% endblock %}
	
	{% block hero %}
	{% include "content/hero.html" %}
	{% endblock hero %}
		

		</div>
	</header>
	<!-- /Section: intro -->


	<!--////////////////////////////////////Container-->
	{% block content %}
	<section id="page-content" class="index-page">
	
		<!-- ////////////Content Box 01 -->
		<section class="box-content box-6">
			<div class="container">
				<div class="heading wow fadeInUp" data-wow-delay=".1s" data-wow-duration="1s">
					<h2>Ingreso de usuario</h2>
					<hr class="line">
				</div>
				<div class="content">
					<div class="col-sm-10 col-sm-offset-1">
						{% include "content/mensajes.html" %}
						<p>
						<form id="contact_form" class="wow fadeInUp" data-wow-delay=".1s" data-wow-duration="1s" action="" method="POST">
							{% csrf_token %}

							<ul>
								{{formulario.as_ul}}
								<li><button type="submit" id="form-submit" class="btn btn-skin btn-block" id="submit_btn">Submit</button></li>
							</ul>
							
						</form>
					</p>
					</div>
				</div>
			</div>
		</section>
		
	</section>
	{% endblock %}
